/* Fonts & Colors
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@100;400&display=swap")
*/


body {
  background: #fff1e5;
  color: rgb(20, 20, 20);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

header {
  display: flex;
  padding: 30px 10%;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: auto;
  margin: 0 auto;
}


.nav-links {
  list-style: none;
  margin-bottom: 0rem;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li:hover {
  font-size: 17px;
}

.nav-links li a {
  transition: all 0.4s ease 0s;
}

.logo {
  height: 100px;
  width: 100px;
  margin-right: auto;
}

h1 {

  font-family: 'Roboto', sans-serif;
  font-size: 90px;
  color: #6257FF;
  font-weight: 400;
}

h2 {
  font-family: 18px;
  font-family: 'Roboto', sans-serif;
  color: #5E5768;
  font-weight: 300;
}

p {
  font-size: 36px;
}

a {
  text-decoration: none;
  color: #FE4A49;
}

a:hover {
  text-decoration: none;
  color: #2AB7CA;
}

button {
  font-size: 22px;
  color: #6257FF;
  border: none;
  background-color: #fff1e5;
  transition: all 0.4s ease 0s;
  padding: 0px 25px;
}

button:hover {
  font-size: 26px;
  color: #2AB7CA;
}

/* Customer design */

#banner {
  height: 100%;
  padding: 90px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text photo";
}

.text {
  grid-area: text;
  text-align: left;
   }
.photo { grid-area: photo; }

#banner a {
  color: rgb(20, 20, 20);

}

.flex-item {
  flex: 0 0 200;
}

.tab {
  padding: 15px 15px;
  text-align: left;


}

#about {
  background-color: #F4FFFD;
  box-shadow: 5px 5px 8px #BEB7B2;
}

#experience {

}

#projects {
  background-color: #F4FFFD;
  box-shadow: 5px 5px 8px #BEB7B2;
}

#contact {

}

#footer {
  background: #fff1e5;
  color: #5E5768;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

#footer i {
  font-size: 16px;
}

#footer i:hover {
  font-size: 30px;
  transition-duration: 0.5s;
}

#btn-contact {
  background: #2AB7CA;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 35px;
  box-shadow: 0px 4px 40px lightgrey;
  transition: all 0.5s;
  color:#fff1e5 !important;
  box-shadow: 5px 5px 5px #E8DBD1;
}

#btn-contact:hover {
  cursor: pointer;
  box-shadow: 4px 4px 5px #2AB7CA;
  font-size: 17px;
}

.icon {
  color: #6257FF;
  text-decoration: none;
}


.avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #E8DBD1;
}


















